{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2>Iniciar Sesión</h2>

    {% if form.errors %}
        <p style="color:red;">Usuario o contraseña incorrectos. Intenta nuevamente.</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div style="margin-bottom: 10px;">
            <label for="id_username">Usuario:</label><br>
            {{ form.username }}
        </div>

        <div style="margin-bottom: 10px;">
            <label for="id_password">Contraseña:</label><br>
            {{ form.password }}
        </div>

        <button type="submit">Ingresar</button>
    </form>
{% endblock %}


